// -------------------------------------------------------------------------
// ABOUT VARIABLES
// -------------------------------------------------------------------------

// All variables go in this sheet.

// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------

// Grayscale
$black-10:                      darken(#fff, 10%);
$black-20:                      darken(#fff, 20%);
$black-30:                      darken(#fff, 30%);
$black-40:                      darken(#fff, 40%);
$black-50:                      darken(#fff, 50%);
$black-60:                      darken(#fff, 60%);
$black-70:                      darken(#fff, 70%);
$black-80:                      darken(#fff, 80%);
$black-90:                      darken(#fff, 90%);

// Brand Colors
$brand-primary:                 #428bca;
$brand-secondary:               #5cb85c;
$brand-tertiary:                #f0ad4e;
$accent:                        #d9534f;

// Text
$text-color:                    $black-70;

// Links
$link-color:                    $accent;
$link-color-hover:              darken($link-color, 15%);

// Buttons
$btn-color:                     $accent;
$btn-color-hover:               darken($btn-color, 15%);

// -------------------------------------------------------------------------
// TYPOGRAPHY
// -------------------------------------------------------------------------

// Font Families
$font-family-sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:             Georgia, Garamond, serif;
$font-family-monospace:         Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:              $font-family-sans-serif;

// Base Font Sizes
$font-size-base:                1.12em;
$font-size-large:               ($font-size-base * 1.25);
$font-size-small:               ($font-size-base * 0.65);

// Line Heights
$line-height-base:              1.4;
$line-height-computed:          floor($font-size-base * $line-height-base);

// Headings
$headings-font-family:          inherit;
$headings-font-weight:          500;
$headings-line-height:          1.1;